header {
    .containerx {
        padding: 1px 50px;
        margin: 0 auto;
        .header-left img {
            max-width: 100%;
        }
        .header-center {}
        .header-right {
            display: flex;
            align-items: center;
        }
        .header-item {
            padding: 20px;
            a {
                font-family: 'Source Sans Pro', sans-serif;
                color: $font-color;
                font-size: 15px;
                font-weight: 600;
            }
            .btn-buy {
                padding: 5px 15px !important;
                border-radius: 10px;
            }
            &:hover {
                border-top: 2px solid $main-color;
                a {
                    color: #35baf2;
                }
            }
<<<<<<< HEAD
           
        }
        .header-money {
            &:hover {
                border: none !important;
=======
            .header-money {
                padding-left: 20px;
>>>>>>> master
            }
        }
        .btn-box {
            &:hover {
                border: none !important;
            }
        }
    }
}