header {
    .containerx {
        padding: 1px 50px;
        .header-left img {
            max-width: 100%;
        }
        .header-center {}
        .header-right {
            display: flex;
            align-items: center;
            // đối với thẻ <a>
            // e phải css trực tiếp cho nó
            // như này mới đúng nha. ul > li
            // không uđợc ul > a :3
            // mình neen hover vào <li> nha
            // khi hover vào thẻ <li> chứa button thì border = none. e thử làm xem
            // thứ 2. class btn-demo và  header-item ngang hàng với nhau
            // nên ko thể để class header-item bọc btn được
        }
        .header-item {
            padding: 20px;
            a {
                font-family: 'Source Sans Pro', sans-serif;
                color: $font-color;
                font-size: 15px;
                font-weight: 600;
            }
            .btn-buy {
                padding: 5px 15px !important;
                border-radius: 10px;
                &:hover {
                    border: none !important;
                }
            }
            &:hover {
                border-bottom: 2px solid $main-color;
            }
            .header-money {
                padding-left: 20px;
            }
        }
    }
}

.header-item:hover {
    color: #35baf2 !important;
    text-decoration: none;
}

//giờ e làm xong thì gõ như này nha
// git add .
// git commit -m "text"
// git push
// # neu no hien ra cai nay: [git push --set-upstream origin inau]
// thi copy bo vao 
// chi can go 1 lan. lan sau cu "git push" la xong
// muốn đồng bộ code của a xuống nữa
// thì gõ : git pull origin master